<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="/teraQR/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="/teraQR/assets/css/simplebar.css">
    <link rel="stylesheet" href="/teraQR/assets/css/prism.css">
    <link rel="stylesheet" href="/teraQR/assets/css/quill.snow.css">
    <link rel="stylesheet" href="/teraQR/assets/css/remixicon.css">
    <link rel="stylesheet" href="/teraQR/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/teraQR/assets/css/jsvectormap.min.css">
    <link rel="stylesheet" href="/teraQR/assets/css/style.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/teraQR/assets/images/favicon.png">

    <!-- Title -->
    <!-- Title -->
    <!-- Title -->
    <!-- Title -->
    <title>TeraQR - QR Restaurant Order</title>
</head>