<div class="preloader" id="preloader">
    <div class="preloader">
        <div class="waviy position-relative">
            <span class="d-inline-block">Y</span>
            <span class="d-inline-block">U</span>
            <span class="d-inline-block">N</span>
            <span class="d-inline-block">U</span>
            <span class="d-inline-block">S</span>
        </div>
    </div>
</div>