<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNav">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-bold"><span class="text-emerald">QR</span> MENU</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav gap-3 fs-5">
            <li class="nav-item"><a class="nav-link" href="#home" data-bs-dismiss="offcanvas">Ana Sayfa</a></li>
            <li class="nav-item"><a class="nav-link" href="#menu" data-bs-dismiss="offcanvas">Menü</a></li>
            <li class="nav-item"><a class="nav-link" href="#discounts" data-bs-dismiss="offcanvas">Kampanyalar</a></li>
            <li class="nav-item"><a class="nav-link" href="#about" data-bs-dismiss="offcanvas">Hakkımızda</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact" data-bs-dismiss="offcanvas">İletişim</a></li>
        </ul>
        <div class="mt-5 d-grid gap-2">
            <button class="btn btn-emerald rounded-pill py-3" data-bs-toggle="modal" data-bs-target="#reserveModal">Rezervasyon Yap</button>
        </div>
    </div>
</div>